In [1]:
import pandas as pd

In [4]:
pivot_cholesterol = pd.read_csv("pivot_cholesterol.csv")
pivot_cholesterol

       fdc_id  amount nutrient_name branded_food_category
0     1107295     0.0   Cholesterol                Chipsy
1     1107475    65.0   Cholesterol                  Sýry
2     1108349     0.0   Cholesterol              Cereálie
3     1109393   100.0   Cholesterol                  Sýry
4     1109400    36.0   Cholesterol               Sušenky
...       ...     ...           ...                   ...
2975  2659382    83.0   Cholesterol                  Sýry
2976  2660573    60.0   Cholesterol                  Sýry
2977  2660613     0.0   Cholesterol          Slané snacky
2978  2661380     0.0   Cholesterol                Chipsy
2979  2662107    42.0   Cholesterol                  Sýry

[2980 rows x 4 columns]

In [9]:
# vytvořila jsem si seznam kategorií - nekonečno se píše pomocí float a inf
# bins = [0, 20, 100, float("inf")]
bins = [-float("inf"), 20, 100, float("inf")]
# 0 ukáže kategorii NaN - můžu dát třeba -1 a zahrne i nulu do nízké, nebo si vytvořit kategorii pro nulu
# -float("inf") - je mínus nekonečno
labels = ["Zadny", "Nizky ch", "Stredni", "Vysoky ch."]

pivot_cholesterol["cholesterol_category"] = pd.cut(pivot_cholesterol["amount"], bins=bins, labels=labels)
pivot_cholesterol.head(30)

ValueError: Bin labels must be one fewer than the number of bin edges

In [10]:
bins = [-float("inf"), 0, 20, 100, float("inf")]
labels = ["Zadny", "Nizky ch", "Stredni ch", "Vysoky ch."]

pivot_cholesterol["cholesterol_category"] = pd.cut(pivot_cholesterol["amount"], bins=bins, labels=labels)
pivot_cholesterol.head(30)

     fdc_id  amount nutrient_name branded_food_category cholesterol_category
0   1107295     0.0   Cholesterol                Chipsy                Zadny
1   1107475    65.0   Cholesterol                  Sýry           Stredni ch
2   1108349     0.0   Cholesterol              Cereálie                Zadny
3   1109393   100.0   Cholesterol                  Sýry           Stredni ch
4   1109400    36.0   Cholesterol               Sušenky           Stredni ch
5   1109434     0.0   Cholesterol          Slané snacky                Zadny
6   1109796     0.0   Cholesterol           En. tyčinky                Zadny
7   1110747     0.0   Cholesterol                Chipsy                Zadny
8   1110839     0.0   Cholesterol            Cukrovinky                Zadny
9   1111331     0.0   Cholesterol            Cukrovinky                Zadny
10  1111990   107.0   Cholesterol                  Sýry           Vysoky ch.
11  1112148     0.0   Cholesterol              Zmrzlina                Zadny
12  1112994     0.0   Cholesterol              Zmrzlina                Zadny
13  1114096     9.0   Cholesterol                  Sýry             Nizky ch
14  1114461     0.0   Cholesterol          Slané snacky                Zadny
15  1114961     0.0   Cholesterol          Slané snacky                Zadny
16  1115771     9.0   Cholesterol                  Sýry             Nizky ch
17  1116176    29.0   Cholesterol        Nakl. zelenina           Stredni ch
18  1117209     0.0   Cholesterol            Cukrovinky                Zadny
19  1117592     0.0   Cholesterol               Sušenky                Zadny
20  1117776     0.0   Cholesterol          Další snacky                Zadny
21  1118238    71.0   Cholesterol                  Sýry           Stredni ch
22  1118768    10.0   Cholesterol           En. tyčinky             Nizky ch
23  1118810     0.0   Cholesterol           En. tyčinky                Zadny
24  1119505    67.0   Cholesterol              Zmrzlina           Stredni ch
25  1119673     0.0   Cholesterol          Slané snacky                Zadny
26  1119940     0.0   Cholesterol                Pečivo                Zadny
27  1122060    25.0   Cholesterol              Zmrzlina           Stredni ch
28  1122523   100.0   Cholesterol                  Sýry           Stredni ch
29  1123129     0.0   Cholesterol                  Sýry                Zadny

In [16]:
pd.crosstab(pivot_cholesterol["branded_food_category"], pivot_cholesterol["cholesterol_category"], margins=True, normalize="index").style.format("{:.0%}")
# normalize ukáže vše v procentech a záleží co dám za to, podle toho to ukáže procenta

In [18]:
pivot_cholesterol_fiber = pd.read_csv("pivot_cholesterol_fiber.csv")
pivot_cholesterol_fiber

       fdc_id  amount         nutrient_name branded_food_category
0     1107295     0.0           Cholesterol                Chipsy
1     1107475    65.0           Cholesterol                  Sýry
2     1108349     0.0           Cholesterol              Cereálie
3     1109393   100.0           Cholesterol                  Sýry
4     1109400    36.0           Cholesterol               Sušenky
...       ...     ...                   ...                   ...
5971  2659382     0.0  Fiber, total dietary                  Sýry
5972  2660573     0.0  Fiber, total dietary                  Sýry
5973  2660613    10.0  Fiber, total dietary          Slané snacky
5974  2661380     3.6  Fiber, total dietary                Chipsy
5975  2662107     0.0  Fiber, total dietary                  Sýry

[5976 rows x 4 columns]

In [19]:
pd.crosstab(pivot_cholesterol_fiber["branded_food_category"], pivot_cholesterol_fiber["nutrient_name"], pivot_cholesterol_fiber["amount"], aggfunc="mean")

nutrient_name          Cholesterol  Fiber, total dietary
branded_food_category
Cereálie                  0.241176              7.539344
Chipsy                    0.948598              5.423182
Cukrovinky                5.498305              1.382993
Další snacky             34.854015              3.278571
En. tyčinky               6.450000              8.783422
Nakl. zelenina            6.708661              1.890244
Pečivo                    5.305085              3.735246
Slané snacky              1.526096              7.230321
Sušenky                  18.731061              2.280075
Sýry                     76.840000              0.170419
Zmrzlina                 49.158784              1.182927
Čokoláda                 11.785714              4.787097

In [21]:
data = pd.read_csv("hotel_bookings.csv")
data

,hotel,is_canceled,lead_time,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,adults,...,deposit_type,agent,company,days_in_waiting_list,customer_type,adr,required_car_parking_spaces,total_of_special_requests,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015,July,27,1,0,0,2,...,No Deposit,NaN,NaN,0,Transient,0.00,0,0,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015,July,27,1,0,1,1,...,No Deposit,NaN,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015,July,27,1,0,1,1,...,No Deposit,304.0,NaN,0,Transient,75.00,0,0,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015,July,27,1,0,2,2,...,No Deposit,240.0,NaN,0,Transient,98.00,0,1,Check-Out,2015-07-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119385,City Hotel,0,23,2017,August,35,30,2,5,2,...,No Deposit,394.0,NaN,0,Transient,96.14,0,0,Check-Out,2017-09-06
119386,City Hotel,0,102,2017,August,35,31,2,5,3,...,No Deposit,9.0,NaN,0,Transient,225.43,0,2,Check-Out,2017-09-07
119387,City Hotel,0,34,2017,August,35,31,2,5,2,...,No Deposit,9.0,NaN,0,Transient,157.71,0,4,Check-Out,2017-09-07
119388,City Hotel,0,109,2017,August,35,31,2,5,2,...,No Deposit,89.0,NaN,0,Transient,104.40,0,0,Check-Out,2017-09-07
119389,City Hotel,0,205,2017,August,35,29,2,7,2,...,No Deposit,9.0,NaN,0,Transient,151.20,0,2,Check-Out,2017-09-07

In [22]:
pd.crosstab(data["hotel"],
            data["is_canceled"],
            normalize="index"
            ).style.format("{:.0%}")

In [23]:
data = data[data["hotel"] == "City Hotel"]

bins = [0, 7, 30, 180, float("inf")]
labels = ["Last-minute", "Short-term", "Medium-term", "Long-term"]
data["lead_time_category"] = pd.cut(data["lead_time"], bins=bins, labels=labels)

data_pivot = pd.crosstab(data["lead_time_category"], data["is_canceled"])
data_pivot.rename(columns={0: "Canceled", 1: "Ok"}, inplace=True)
data_pivot

C:\Users\nobic\AppData\Local\Temp\ipykernel_3660\1090576143.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data["lead_time_category"] = pd.cut(data["lead_time"], bins=bins, labels=labels)

is_canceled         Canceled     Ok
lead_time_category
Last-minute             6653   1046
Short-term              8674   3880
Medium-term            21974  17046
Long-term               6091  10857