In [2]:
import pandas as pd

In [3]:
food_nutrient = pd.read_csv('food_nutrient.csv')

In [4]:
food_nutrient.head()

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,1106032,1257,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,1107191,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
2,1107295,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
3,1107475,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
4,1107528,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G

In [ ]:
food_nutrient["amount"].isna()
# vrátí info o tom, kde není vyplněná hodnota - true a kde není - false
food_nutrient[food_nutrient["amount"].isna()]
# toto mi vrátí info z dataframe - tj vrátí tabulku kde je splněná podmínka
food_nutrient_incomplete = food_nutrient[food_nutrient["amount"].isna()]
food_nutrient_incomplete
# tady jsem si vytvořila nový dataframe, ten obsahuje jen data, kde byla splněna podmínka

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
0,1106032,1257,NaN,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
1,1107191,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
2,1107295,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
3,1107475,1257,NaN,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G

In [ ]:
food_nutrient_complete = food_nutrient[food_nutrient["amount"].notna()]
food_nutrient_complete
# tady je opačná logika podmínky a máme nový dataframe kde chybí ty čtyři

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
4,1107528,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
5,1108007,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
6,1108158,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
7,1108349,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
8,1108803,1257,0.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135331,2614074,2068,0.0,NaN,71.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135332,2622536,2068,2.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135333,2622742,2068,13.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135334,2627542,2068,2.0,NaN,75.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG
135335,2654454,2068,25.0,NaN,70.0,NaN,NaN,NaN,NaN,NaN,NaN,Vitamin E,MG

In [10]:
food_nutrient.dropna(subset=["amount", "data_points"])

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
143,167551,1257,0.000,0.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
144,168370,1257,0.012,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
145,168460,1257,0.000,0.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
146,168526,1257,0.000,0.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
147,169836,1257,0.104,0.0,49.0,NaN,NaN,NaN,NaN,NaN,NaN,"Fatty acids, total trans",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135232,2264911,1041,0.000,1.0,1.0,NaN,NaN,NaN,40.0,NaN,NaN,Oxalic acid,MG
135233,2265032,1041,0.000,1.0,1.0,NaN,NaN,NaN,40.0,NaN,NaN,Oxalic acid,MG
135234,2349498,2038,10.400,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,High Molecular Weight Dietary Fiber (HMWDF),G
135235,2513731,2038,3.680,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,High Molecular Weight Dietary Fiber (HMWDF),G
135236,2513863,2038,10.700,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,High Molecular Weight Dietary Fiber (HMWDF),G

In [12]:
food_nutrient = food_nutrient.dropna(subset=["amount"])
food_nutrient.info()

<class 'pandas.core.frame.DataFrame'>
Index: 135332 entries, 4 to 135335
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   fdc_id             135332 non-null  int64
 1   nutrient_id        135332 non-null  int64
 2   amount             135332 non-null  float64
 3   data_points        4162 non-null    float64
 4   derivation_id      132613 non-null  float64
 5   min                418 non-null     float64
 6   max                418 non-null     float64
 7   median             20 non-null      float64
 8   loq                48 non-null      float64
 9   footnote           0 non-null       float64
 10  min_year_acquired  127 non-null     float64
 11  name               135332 non-null  object
 12  unit_name          135332 non-null  object
dtypes: float64(9), int64(2), object(2)
memory usage: 14.5+ MB

In [ ]:
food_nutrient.fillna("tady nic není")
# mohu vyplnit svůj text do kolonky NA

,fdc_id,nutrient_id,amount,data_points,derivation_id,min,max,median,loq,footnote,min_year_acquired,name,unit_name
4,1107528,1257,0.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,"Fatty acids, total trans",G
5,1108007,1257,0.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,"Fatty acids, total trans",G
6,1108158,1257,0.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,"Fatty acids, total trans",G
7,1108349,1257,0.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,"Fatty acids, total trans",G
8,1108803,1257,0.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,"Fatty acids, total trans",G
...,...,...,...,...,...,...,...,...,...,...,...,...,...
135331,2614074,2068,0.0,tady nic není,71.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,Vitamin E,MG
135332,2622536,2068,2.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,Vitamin E,MG
135333,2622742,2068,13.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,Vitamin E,MG
135334,2627542,2068,2.0,tady nic není,75.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,Vitamin E,MG
135335,2654454,2068,25.0,tady nic není,70.0,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,tady nic není,Vitamin E,MG