In [4]:
msg = "Welcome to Notebooks in VS Code!"
print(msg)

Welcome to Notebooks in VS Code!

In [5]:
msg = "Těším se na kurz datové analýzy v Pythonu!"
print(msg)

Těším se na kurz datové analýzy v Pythonu!

In [6]:
import pandas

In [7]:
food = pandas.read_csv("food_sample_100.csv")

In [8]:
food

,fdc_id,data_type,description,food_category_id,publication_date
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01
4,322951,sub_sample_food,Hot dogs beef,7.0,2019-04-01
...,...,...,...,...,...
95,2260615,sub_sample_food,"Yogurt, whole milk, plain",1.0,2022-04-28
96,2646468,sub_sample_food,"chicken, breast, boneless, skinless",5.0,2023-10-19
97,2647032,sub_sample_food,"pork, loin, boneless",10.0,2023-10-19
98,2349564,sub_sample_food,"Oats, whole grain, rolled, old fashioned",20.0,2022-10-28
99,328565,market_acquisition,"Cheese, cheddar, mild, block/chunk, store bran...",1.0,2019-04-01

In [9]:
food.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   fdc_id            100 non-null    int64
 1   data_type         100 non-null    object
 2   description       100 non-null    object
 3   food_category_id  99 non-null     float64
 4   publication_date  100 non-null    object
dtypes: float64(1), int64(1), object(3)
memory usage: 4.0+ KB

In [10]:
food.head(10)

,fdc_id,data_type,description,food_category_id,publication_date
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19
1,2347263,sub_sample_food,heavy cream,1.0,2022-10-28
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01
4,322951,sub_sample_food,Hot dogs beef,7.0,2019-04-01
5,2346484,sample_food,"Lettuce, iceberg, raw",11.0,2022-10-28
6,330060,market_acquisition,"Greek yogurt, FAGE PLAIN NONFAT (CA2) - NFY0910IC",1.0,2019-04-01
7,1754088,sub_sample_food,"OIL, PEANUT",4.0,2021-04-23
8,2346855,market_acquisition,"grapes, red, seedless, fresh, raw",9.0,2022-10-28
9,2351012,sub_sample_food,"Potatoes, red, without skin, raw",11.0,2022-10-28

In [11]:
food.tail()

,fdc_id,data_type,description,food_category_id,publication_date
95,2260615,sub_sample_food,"Yogurt, whole milk, plain",1.0,2022-04-28
96,2646468,sub_sample_food,"chicken, breast, boneless, skinless",5.0,2023-10-19
97,2647032,sub_sample_food,"pork, loin, boneless",10.0,2023-10-19
98,2349564,sub_sample_food,"Oats, whole grain, rolled, old fashioned",20.0,2022-10-28
99,328565,market_acquisition,"Cheese, cheddar, mild, block/chunk, store bran...",1.0,2019-04-01

In [13]:
food.sample(20)

,fdc_id,data_type,description,food_category_id,publication_date
2,2261954,sub_sample_food,"Flour, potato",11.0,2022-04-28
16,1752357,sub_sample_food,"ALMOND MILK, UNSWEETENED, PLAIN, SHELF STABLE",14.0,2021-04-23
18,2004374,sub_sample_food,"flour, semolina, fine",20.0,2021-10-15
64,333389,sub_sample_food,"Minerals, Pollock, raw (OK) - NFY060DM3",15.0,2019-04-01
5,2346484,sample_food,"Lettuce, iceberg, raw",11.0,2022-10-28
29,2348279,sub_sample_food,"Lettuce, leaf, green, raw",11.0,2022-10-28
48,2259344,sub_sample_food,"carrots, mature, raw",11.0,2022-04-28
78,2646778,sub_sample_food,"chicken, breast, boneless, skinless",5.0,2023-10-19
17,2514917,sub_sample_food,"Beef, ground, grass-fed, 90% lean, 10% fat, raw",13.0,2023-04-20
25,2351006,sub_sample_food,"Potatoes, red, without skin, raw",11.0,2022-10-28
47,327076,sub_sample_food,"Cantaloupe, raw, Region 3, n/a, Yes - Riboflav...",9.0,2019-04-01
10,2004036,sub_sample_food,"flour, 00",20.0,2021-10-15
0,2644829,sub_sample_food,"lentils, dry",16.0,2023-10-19
23,2003754,sample_food,"ORANGE JUICE, REFRIGERATED, NO PULP, NOT FORTI...",9.0,2021-10-15
3,321470,sub_sample_food,"Salt, Iodized",2.0,2019-04-01
21,2349948,sub_sample_food,"Cherries, dark red, sweet, raw",9.0,2022-10-28
84,2351685,sub_sample_food,"strawberries, fresh, raw",9.0,2022-10-28
61,2003818,sample_food,"TOMATO JUICE, SHELF STABLE, FROM CONCENTRATE, ...",11.0,2021-10-15
67,327756,sub_sample_food,"Romaine Lettuce, Pass 2, Region 4 - Vitamin B6...",11.0,2019-04-01
66,332636,market_acquisition,"OLIVES, GREEN MANZANILLA STUFFED WITH PIMENTOS...",9.0,2019-04-01

In [16]:
food.shape[1]

5

In [17]:
food.columns

Index(['fdc_id', 'data_type', 'description', 'food_category_id',
       'publication_date'],
      dtype='object')

In [21]:
food["description"]
food[["description"]]

                                          description
0                                        lentils, dry
1                                         heavy cream
2                                       Flour, potato
3                                       Salt, Iodized
4                                       Hot dogs beef
..                                                ...
95                          Yogurt, whole milk, plain
96                chicken, breast, boneless, skinless
97                               pork, loin, boneless
98           Oats, whole grain, rolled, old fashioned
99  Cheese, cheddar, mild, block/chunk, store bran...

[100 rows x 1 columns]

In [23]:
food.iloc[5]
food.iloc[[5]]

,fdc_id,data_type,description,food_category_id,publication_date
5,2346484,sample_food,"Lettuce, iceberg, raw",11.0,2022-10-28